<div class="row mt-3">
    <div class="col-sm-10">
        <router-outlet></router-outlet>

        <div *ngIf="ingredients.length > 0;else noIngredient">
            <div class="list-group" *ngFor="let ingredient of ingredients; let i = index">
                <button class="list-group-item btn btn-link text-dark text-left" (click)="onIngredients(i)">
                    {{ ingredient.name }} ({{ingredient.amount}})
                </button>
            </div>
        </div>
        <ng-template #noIngredient>
            <h3 class="text-info">There are no ingredients in the bucket</h3>
        </ng-template>
    </div>
</div>