<a style="cursor: pointer;" class="list-group-item text-dark" [routerLink]="[index]" routerLinkActive="active">
    <div class="row no-gutters">
        <div class="col-sm-9">
            <h4 appColorPrimary>
                {{ recipe.name}}
            </h4>
            <p>
                {{ recipe.description }}
            </p>
        </div>
        <div class="col-sm-3 align-self-center">
            <img [src] = "recipe.imagePath"
             [alt]="recipe.name" class="img-fluid" style="width: 100px;">
        </div>
    </div>
</a>